.page {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  .group {
    height: 812px;
    overflow-y: auto;
    position: relative;
    .header {
      padding: 23px 0 35px;
      width: 321px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      .image {
        width: 18px;
        height: 18px;
      }
    }
    .group_1 {
      padding: 0 6.5px;
      position: absolute;
      left: 0;
      right: 0;
      top: 76px;
      .section_1 {
        margin-left: 14.5px;
        margin-right: 12.5px;
        background-color: rgb(226, 226, 226);
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
        height: 114px;
      }
      .group_2 {
        margin-top: 32.48px;
        .group_3 {
          padding: 3px 0 1.7px;
          .text {
            color: #adb5bd;
            font-size: 16px;
            font-family: Poppins;
            line-height: 14.74px;
          }
          .text_1 {
            margin-left: 6.64px;
            color: #adb5bd;
            font-size: 16px;
            font-family: Poppins;
            line-height: 14.74px;
          }
        }
        .section_2 {
          margin-left: 71.5px;
          align-self: flex-start;
          background-image: linear-gradient(
            180deg,
            rgb(117, 212, 253) 0%,
            rgba(117, 212, 253, 0.35) 25%,
            rgba(117, 212, 253, 0) 100%
          );
          width: 48px;
          height: 4px;
        }
      }
    }
    .grid {
      padding-left: 6px;
      padding-right: 4px;
      background-color: rgb(255, 255, 255);
      height: 611px;
      position: absolute;
      left: 0;
      right: 0;
      top: 257px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 5px;
      column-gap: 5px;
      .grid-item {
        border-radius: 8px;
        width: 119px;
        height: 119px;
      }
    }
  }
}