.page {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  .group {
    height: 812px;
    overflow-y: auto;
    position: relative;
    .header {
      padding: 35px 0 16px;
      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(12.5px);
      width: 348px;
      position: absolute;
      left: 0;
      top: 0;
      .image {
        margin-right: 23px;
        width: 17px;
        height: 18px;
      }
      .image_1 {
        width: 18px;
        height: 18px;
      }
    }
    .section_1 {
      padding: 32.96px 25.02px 30.84px;
      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(12.5px);
      position: absolute;
      left: 0;
      right: 0;
      top: 69px;
      .text {
        color: rgb(33, 37, 41);
        font-size: 32px;
        font-family: Poppins;
        font-weight: 300;
        line-height: 29.79px;
        letter-spacing: -0.32px;
      }
      .text_1 {
        margin-top: 17.2px;
        color: rgb(173, 181, 189);
        font-size: 16px;
        font-family: Poppins;
        line-height: 11.98px;
      }
    }
    .line-tabs {
      position: absolute;
      left: 0;
      right: 0;
      top: 190px;
      .section_2 {
        padding-bottom: 16px;
        background-color: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(12.5px);
        overflow: hidden;
        .group_1 {
          padding: 20.56px 24.66px 20.44px;
          .text_2 {
            color: rgb(173, 181, 189);
            font-size: 16px;
            font-family: Poppins;
            line-height: 14.75px;
          }
          .text_3 {
            margin-left: 47.88px;
            color: rgb(33, 37, 41);
            font-size: 16px;
            font-family: Poppins;
            line-height: 14.77px;
          }
          .text_4 {
            margin-left: 48.34px;
            color: rgb(173, 181, 189);
            font-size: 16px;
            font-family: Poppins;
            line-height: 14.75px;
          }
        }
        .divider {
          background-color: rgb(233, 236, 239);
          .section_3 {
            margin-left: 80px;
            background-color: rgb(33, 37, 41);
            width: 80px;
            height: 1px;
          }
        }
      }
      .grid {
        padding: 8px 5px 0;
        height: 619px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5px;
        column-gap: 5px;
        .grid-item {
          border-radius: 8px;
          width: 119px;
          height: 119px;
        }
      }
    }
  }
}