.page {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  .group {
    padding-bottom: 332px;
    height: 812px;
    overflow-y: auto;
    position: relative;
    .header {
      padding: 36px 0 15px;
      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(12.5px);
      width: 375px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      .image {
        margin-left: 26px;
        width: 20px;
        height: 16px;
      }
    }
    .text-wrapper {
      padding: 34.99px 0 33.01px;
      background-color: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(12.5px);
      position: absolute;
      left: 0;
      right: 0;
      top: 67px;
      .text {
        margin-left: 25.31px;
        color: rgb(33, 37, 41);
        font-size: 32px;
        font-family: Poppins;
        font-weight: 300;
        line-height: 29.63px;
        letter-spacing: -0.32px;
      }
    }
    .group_1 {
      padding: 0 24px;
      position: absolute;
      left: 0;
      right: 0;
      top: 276px;
      .section_1 {
        padding: 19px 19px;
        background-color: rgb(248, 249, 250);
        border-radius: 16px;
        .image_1 {
          width: 18px;
          height: 18px;
        }
        .image_2 {
          flex-shrink: 0;
        }
        .text_1 {
          margin: 2.28px 0 1.72px 20.39px;
          color: rgb(33, 37, 41);
          font-size: 16px;
          font-family: Poppins;
          line-height: 14.42px;
        }
      }
      .button {
        margin-top: 92px;
        padding: 20.56px 0 21.44px;
        background-color: rgb(33, 37, 41);
        border-radius: 16px;
        .text_2 {
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-family: Poppins;
          line-height: 14.77px;
        }
      }
    }
  }
}